
/****** Object:  Database HealthCare DataAnalysis	******/
CREATE DATABASE [HealthCare DataAnalysis]
GO

USE [HealthCare DataAnalysis]
GO

/****** Object:  Table [dbo].[AccountGoal]  ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[AccountGoal](
	[UniqueIntegrationID] [nvarchar](10) NOT NULL,
	[Territory] [nchar](7) NOT NULL,
	[PlanCycleUID] [nvarchar](50) NOT NULL,
	[AccountGoalUID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AccountGoal] PRIMARY KEY CLUSTERED 
(
	[AccountGoalUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AccountGoal]  WITH CHECK ADD FOREIGN KEY([UniqueIntegrationID])
REFERENCES [dbo].[Accounts] ([UniqueIntegrationID])
GO

USE [HealthCare DataAnalysis]
GO

/****** Object:  Table [dbo].[Accounts]  ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[Accounts](
	[RecordType] [nvarchar](50) NOT NULL,
	[UniqueIntegrationID] [nvarchar](10) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Specialty] [nvarchar](50) NULL,
	[ParentAccount] [nvarchar](100) NULL,
	[Classification] [nchar](1) NULL,
	[Territory] [nchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UniqueIntegrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [HealthCare DataAnalysis]
GO

/****** Object:  Table [dbo].[ActivityPlan] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ActivityPlan](
	[AccountGoalUID] [nvarchar](50) NOT NULL,
	[HQ_Goal] [int] NULL,
	[Actual] [int] NULL,
	[ActivityName] [nvarchar](50) NOT NULL,
	[UID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ActivityPlan] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ActivityPlan]  WITH NOCHECK ADD  CONSTRAINT [FK_ActivityPlan_AccountGoal] FOREIGN KEY([AccountGoalUID])
REFERENCES [dbo].[AccountGoal] ([AccountGoalUID])
NOT FOR REPLICATION 
GO

ALTER TABLE [dbo].[ActivityPlan] CHECK CONSTRAINT [FK_ActivityPlan_AccountGoal]
GO

USE [HealthCare DataAnalysis]
GO

USE [HealthCare DataAnalysis]
GO

/****** Object:  Table [dbo].[CallLogging]  ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CallLogging](
	[CallName] [nvarchar](50) NOT NULL,
	[UniqueIntegrationID] [nvarchar](10) NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Territory] [nchar](7) NOT NULL,
	[Channel] [nvarchar](50) NOT NULL,
	[CallDuration] [int] NOT NULL,
	[CallObjective] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CallLogging] PRIMARY KEY CLUSTERED 
(
	[CallName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CallLogging]  WITH CHECK ADD  CONSTRAINT [FK_CallLogging_Accounts] FOREIGN KEY([UniqueIntegrationID])
REFERENCES [dbo].[Accounts] ([UniqueIntegrationID])
GO

ALTER TABLE [dbo].[CallLogging] CHECK CONSTRAINT [FK_CallLogging_Accounts]
GO


USE [HealthCare DataAnalysis]
GO


GO
USE [HealthCare DataAnalysis]
GO



USE [HealthCare DataAnalysis]
GO


CREATE TABLE [dbo].[PlanCycle](
	[Active] [bit] NOT NULL,
	[EndDate] [date] NOT NULL,
	[PlanCycleUID] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[Territory] [nchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanCycleUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT INTO [dbo].[PlanCycle]
           ([Active]
           ,[EndDate]
           ,[PlanCycleUID]
           ,[StartDate]
           ,[Territory])
     VALUES
		('TRUE','2025-03-01','2025-03-VN11200','2025-03-31','VN11200'),
		('TRUE','2025-03-01','2025-03-VN11201','2025-03-31','VN11201'),
		('TRUE','2025-03-01','2025-03-VN11202','2025-03-31','VN11202'),
		('TRUE','2025-03-01','2025-03-VN11203','2025-03-31','VN11203'),
		('TRUE','2025-03-01','2025-03-VN11204','2025-03-31','VN11204'),
		('TRUE','2025-03-01','2025-03-VN11205','2025-03-31','VN11205');
GO